modules = ["nodejs-24", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 8082
externalPort = 3002

[[ports]]
localPort = 8083
externalPort = 5000

[[ports]]
localPort = 8084
externalPort = 6000

[[ports]]
localPort = 8085
externalPort = 8000

[[ports]]
localPort = 8086
externalPort = 3003

[[ports]]
localPort = 19086
externalPort = 3000

[[ports]]
localPort = 19087
externalPort = 3001

[[ports]]
localPort = 19088
externalPort = 4200

[[ports]]
localPort = 19089
externalPort = 5173

[[ports]]
localPort = 19090
externalPort = 6800

[[ports]]
localPort = 20130
externalPort = 8008

[[ports]]
localPort = 20131
externalPort = 8080

[userenv]

[userenv.shared]
JWT_SECRET = "marketrune-admin-jwt-secret-x9k2p7q4"
ADMIN_USERNAME = "admin"
ADMIN_PASSWORD = "MarketRune2024!"

[objectStorage]
defaultBucketID = "replit-objstore-2889bbca-e67a-48e6-9aa5-96793b2ae859"
